# Base de datos
pymongo[srv]
motor

# API
fastapi
uvicorn[standard]
python-multipart

# ML / Embeddings
sentence-transformers
torch
numpy
scikit-learn

# Chunking
langchain-text-splitters
nltk

# LLM
groq

# Evaluación (nota extra)
ragas #aun no
datasets #tampoco

# Utilidades
pydantic
pydantic-settings
python-dotenv
httpx
tqdm

